<div class="container-fluid" style="height: 100%; background-color: #dadada">
  <div style=" display: flex;align-items: center;justify-content: center; height: 100%; flex-direction: column">
    <div class="my-4">
      <button  class="btn btn-primary" (click)="call()">Call</button>
      <button class="btn btn-secondary mx-4" (click)="takeCall()">TakeCall</button>
    </div>
   <div>
     <video id="localVideo" autoplay playsinline controls="false"></video>
     <video id="remoteVideo" autoplay playsinline controls="false" style="margin-left: 20px"></video>
   </div>
  </div>

</div>
